@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400;700&family=Adelphe:wght@400;700&display=swap'); /* yang aku tambah */

body {
  @apply font-satoshi;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-adelphe;
}

@font-face {
  font-family: 'Adelphe Fructidor';
  src: url('/font/Adelphe-FructidorBold.woff2') format('woff2'),
    url('/font/Adelphe-FructidorBold.woff') format('woff'),
    url('/font/Adelphe-ructidorBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/font/satoshi-medium-italic.woff2') format('woff2'),
    url('/font/satoshi-medium-italic.woff') format('woff'),
    url('/font/satoshi-medium-italic.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: italic;
}

@font-face {
  font-family: 'Libre Caslon Condensed';
  src: url('/font/libre-caslon/LibreCaslonCondensed-BoldItalic.woff2')
      format('woff2'),
    url('/font/libre-caslon/LibreCaslonCondensed-BoldItalic.woff')
      format('woff'),
    url('/font/libre-caslon/LibreCaslonCondensed-BoldItalic.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/font/helvetica-neue/HelveticaNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Adelphe Fructidor';
  src: url('/fonts/adelphe/Adelphe-FructidorBold.woff2') format('woff2'),
    url('/fonts/adelphe/Adelphe-FructidorBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Adelphe Fructidor';
  src: url('/fonts/adelphe/Adelphe-FructidorRegular.woff2') format('woff2'),
    url('/fonts/adelphe/Adelphe-FructidorRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Include other font weights and styles as needed */
.adelphe-fructidor {
  font-family: 'Adelphe Fructidor', sans-serif;
}
.text-gradient {
  @apply bg-blue-gradient bg-clip-text text-transparent;
}

.drop-shadow-glow {
  filter: drop-shadow(0 0 20px rgba(0, 0, 255, 0.8))
    drop-shadow(0 0 40px rgba(0, 0, 128, 0.8))
    drop-shadow(0 0 60px rgba(0, 0, 255, 0.8));
}

.layout {
  max-width: 98.75rem;
  @apply mx-auto w-11/12;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
    padding: 0 !important;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
    padding: 0 !important;
  }
  .swiper-slide:nth-child(22) {
    transition: transform 100ms;
    padding: 0 !important;
  }

  .swiper-slide.swiper-slide-active:nth-child(22) {
    transform: translateX(50%);
    z-index: 2;
    padding: 0 !important;
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(100%);
    z-index: 1;
  }

  .swiper-slide:nth-child(23) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(23) {
    transform: translateX(100%);
    z-index: 1;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
