@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400;700&family=Adelphe:wght@400;700&display=swap'); /* yang aku tambah */

body {
  @apply font-satoshi;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-adelphe;
}

.drop-shadow-glow {
  filter: drop-shadow(0 0 20px rgba(0, 0, 255, 0.8))
    drop-shadow(0 0 40px rgba(0, 0, 128, 0.8))
    drop-shadow(0 0 60px rgba(0, 0, 255, 0.8));
}

.layout {
  max-width: 98.75rem;
  @apply mx-auto w-11/12;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
    padding: 0 !important;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
    padding: 0 !important;
  }
  .swiper-slide:nth-child(22) {
    transition: transform 100ms;
    padding: 0 !important;
  }

  .swiper-slide.swiper-slide-active:nth-child(22) {
    transform: translateX(50%);
    z-index: 2;
    padding: 0 !important;
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(100%);
    z-index: 1;
  }

  .swiper-slide:nth-child(23) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(23) {
    transform: translateX(100%);
    z-index: 1;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}
